/* Widget Horloge: juste l'heure, très gros, centré */
.clockOnly{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clockTime{
  font-size: 96px;          /* très gros */
  font-weight: 900;
  letter-spacing: -2px;
  line-height: 1;
}
